@CHARSET "windows-1255";

.horizontalThickLines{
	background-color: #2D2D2D;
	height: 20px;
	text-align: center;
	color: white;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
}