<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="true" version="3.0">
  <display-name>conf4u</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>servlets.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConferenceServlet</servlet-name>
    <servlet-class>servlets.ConferenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConferenceServlet</servlet-name>
    <url-pattern>/ConferenceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CompanyServlet</servlet-name>
  	<servlet-class>servlets.CompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CompanyServlet</servlet-name>
  	<url-pattern>/CompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LocationServlet</servlet-name>
  	<servlet-class>servlets.LocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LocationServlet</servlet-name>
  	<url-pattern>/LocationServlet</url-pattern>
  </servlet-mapping>


   <filter> 
   	<filter-name>SessionFilter</filter-name> 
   	<filter-class>filters.SessionFilter</filter-class> 
   	<init-param> 
   		<param-name>avoid-urls</param-name> 
   		<param-value>/login.jsp,/LoginServlet</param-value> 
   	</init-param> 
  </filter> 
  <filter-mapping> 
  		<filter-name>SessionFilter</filter-name> 
  		<url-pattern>*.jsp</url-pattern> 
   </filter-mapping> 


</web-app>